{% extends "base.html" %}

{% block title %}Delete{% endblock %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Delete</h2>

    <form method="POST" class="d-flex flex-column" style="min-height: 300px;">
        {% csrf_token %}
        {{ form.as_p }}

        <!-- Buttons pinned to bottom-right -->
        <div class="mt-auto d-flex justify-content-end gap-2">
          <button type="submit" class="btn btn-danger">Delete</button> 
        </div>
    </form>
</div>
{% endblock %}